version: "3.8"
services:
  postgres:
    image: postgres
    environment:
      POSTGRES_USER: db_admin
      POSTGRES_PASSWORD: 12345
      POSTGRES_DB: superdbdocker
    ports:
      - "5432:5432"

  app:
    build: .
    ports:
      - "3000:3000"
    depends_on:
      - postgres
