version: '3.8'
services:
  postgres:
    image: postgres
    environment:
      POSTGRES_USER: db_admin
      POSTGRES_PASSWORD: 12345
      POSTGRES_DB: superdbdocker
    ports:
      - '5432:5432'

  deployapp:
    build:
      dockerfile: Dockerfile
      context: .
    ports:
      - '3000:3000'
    environment:
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
      - JWT_SECRET=${JWT_SECRET}
      - POSTGRES_HOST=${POSTGRES_HOST}
      - RUN_SEED=${RUN_SEED}
      - SUPER_ADMIN_EMAIL=${SUPER_ADMIN_EMAIL}
      - SUPER_ADMIN_PASSWORD=${SUPER_ADMIN_PASSWORD}
    depends_on:
      - postgres
    volumes:
      - ./certs:/etc/letsencrypt/live/xn--rdamlen-hxa3m.se

  devapp:
    build:
      dockerfile: Dockerfile.dev
      context: .
    ports:
      - '3000:3000'
    environment:
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
      - JWT_SECRET=${JWT_SECRET}
      - POSTGRES_HOST=${POSTGRES_HOST}
      - RUN_SEED=${RUN_SEED}
      - SUPER_ADMIN_EMAIL=${SUPER_ADMIN_EMAIL}
      - SUPER_ADMIN_PASSWORD=${SUPER_ADMIN_PASSWORD}
    depends_on:
      - postgres
    volumes:
      - ./dist:/usr/app/dist
      - ./certs:/etc/letsencrypt/live/xn--rdamlen-hxa3m.se

  test:
    build:
      dockerfile: Dockerfile.test
      context: .
    ports:
      - 3100:3000
    environment:
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
      - JWT_SECRET=${JWT_SECRET}
      - POSTGRES_HOST=${POSTGRES_HOST}
      - RUN_SEED=${RUN_SEED}
      - SUPER_ADMIN_EMAIL=${SUPER_ADMIN_EMAIL}
      - SUPER_ADMIN_PASSWORD=${SUPER_ADMIN_PASSWORD}
    depends_on:
      - postgres
    volumes:
      - ./dist:/usr/app/dist
      - ./test:/usr/app/test
